{{ form_start(form) }}

{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.relationvehicule) }}

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
