{% extends 'base.html.twig' %}

{% block title %}Liste des conducteurs{% endblock %}

{% block body %}
    <h1>Liste des conducteurs</h1>

    <table class="table table-striped">
        <thead>
            <tr class="table-light">
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur in conducteurs %}
            <tr>
                <td>{{ conducteur.id }}</td>
                <td>{{ conducteur.nom }}</td>
                <td>{{ conducteur.prenom }}</td>
                <td>
                    <a href="{{ path('app_conducteur_show', {'id': conducteur.id}) }}">voir</a>
                    <a href="{{ path('app_conducteur_edit', {'id': conducteur.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conducteur_new') }}">Créer un nouveau conducteur</a>
{% endblock %}
