{% extends 'base.html.twig' %}

{% block title %}Conducteur index{% endblock %}

{% block body %}
    <h1>Conducteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur in conducteurs %}
            <tr>
                <td>{{ conducteur.id }}</td>
                <td>{{ conducteur.nom }}</td>
                <td>{{ conducteur.prenom }}</td>
                <td>
                    <a href="{{ path('app_conducteur_show', {'id': conducteur.id}) }}">show</a>
                    <a href="{{ path('app_conducteur_edit', {'id': conducteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_conducteur_new') }}">Create new</a>
{% endblock %}
