{% extends 'base.html.twig' %}

{% block title %}Conducteur{% endblock %}

{% block body %}
    <h1>Conducteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conducteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ conducteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ conducteur.prenom }}</td>
            </tr>
            <tr>
                <th>Peut conduire</th>
                <td>
                    {% for vehicule in conducteur.relationvehicule %}
                        {{vehicule}}{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
{{ dump(data) }}


    <a href="{{ path('app_conducteur_index') }}">Retour à la liste</a>
    <br/>
    <a href="{{ path('app_conducteur_edit', {'id': conducteur.id}) }}">Modifier</a>
    <br/>
    <br/>

    {{ include('conducteur/_delete_form.html.twig') }}
{% endblock %}
